*{
padding:0;
margin:0;	
	
}

.header{
background-color:rgb(230,187,191);
}
.main_container{
background-color:rgb(230,187,191);
width:90%;
height:64px;
margin: 0 auto;
display:flex;
justify-content:space-between;
align-items:center;

}

.information ul{
list-style-type:none;
display:flex;
gap:26px;
font-size:22px;
font-family:sans-serif;	
}
.information ul li a{
text-decoration:none;
color:black;	
}

.logo img{
width:150px;
}
.register a{
text-decoration:none;	
background-color:#470082;
color:white;
font-size:20px;
font-weight:bolder;
padding:10px;
border-radius:6px;	
}
.sub_container{
width:90%;
margin:0 auto;
background-color:rgb(230,187,191);	
display:flex;

}
	

.main_container1{
background-color:rgb(230,187,191);

}
.img_container{
width:50%;
display:flex;
justify-content:center;
align-items:center;
}
.img_container img{
width:467px;
height:590px;	

}
.text_container{
width:50%;
display:flex;
justify-content:center;
align-items:center;
}
.text_container h1{ 
width:342px;	
font-size:58px;	
font-weight:bold;
font-family: 'Caveat', cursive;
font-family: 'Kanit', sans-serif;
color:rgb(89,67,122);
line-height:56px;
letter-spacing:3px;
}
.text_container span{
font-style:italic;
display:inline-block;
	
}

.two a{
text-decoration:none;
font-style:italic;
color:black;	
}
.underline{
width:70px;
height:1px;
background-color:black;	
}
.flex{
margin-top:24px;
display:flex;
align-items:center;
gap:10px;	
}

.text_container .button {
background-color:#C262AF;
color:white;
text-decoration:none;
font-size:20px;
padding:15px 80px;
border-radius:10px;
font-family: 'Poppins', sans-serif;
font-weight:bolder;
letter-spacing:4px;
display:inline-block;
margin-top:30px;

}

.width{
width:100px;	
height:6px;
background-color:rgb(89,67,122);
margin-bottom:20px;
}